--find-links https://flashinfer.ai/whl/cu124/torch2.5/flashinfer-python

cmake==3.31.4
huggingface-hub==0.29.1
lancedb==0.20.0
litellm==1.61.16
llama_cpp_python==0.3.7
ninja==1.11.1.3
nltk==3.9.1
numpy==1.26.4
openai==1.64.0
pandas==2.2.3
sentence-transformers==3.4.1
sglang[all]>=0.4.3.post2
SPARQLWrapper==2.0.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.3
xgrammar==0.1.10
